
<header>
  <nav class="button">
      <div class="logo">
      <a class="navbar-brand" href="#">
        <img src="../../../../assets/logo.png" width="50" height="50" alt="">
      </a>
    </div>
      <div class="links">
        <ul class="buttons">
          <li class="nav-item active">
            <a routerLink="Inicio" class="nav-link" >Inicio</a>
          </li>
          <li class="nav-item active">
            <a routerLink="Peliculas" class="nav-link">Peliculas</a>
          </li>
          <li class="nav-item active">
            <a routerLink="Series" class="nav-link" >Series</a>
          </li>
          <li class="nav-item active">
            <a routerLink="Ingresar" class="nav-link">Ingresar &#8594; </a>
          </li> 
          <li class="nav-item active">
          <a routerLink= "Mi Lista" class="nav-link">Mi Lista </a>
        </li> 
        </ul>
      </div>
    </nav>
  </header> 
