.container2{
    flex-direction: row;
    margin-top: 5%;
    margin-left: 11%;
    
}
h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
  
  
    letter-spacing: -0.02em;
  }
  p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 100;
  }
  